<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.sport.mapper.SportMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.example.sport.model.Sport">
        <id column="id" property="id" />
        <result column="name" property="name" />
        <result column="applicable_age" property="applicableAge" />
        <result column="beneficial_position" property="beneficialPosition" />
        <result column="introduction" property="introduction" />
    </resultMap>

</mapper>
